// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th{
  padding-right: 10px;
}
a:visited{
  color:black;
}
a:hover{
  color:white;
}
